{
  "extends": ["prettier", "airbnb"],
  "env": {"jest": true},
  "rules": {
    "react/jsx-filename-extension": "off",
    "import/prefer-default-export": "off",
    "react/jsx-props-no-spreading": "off"
  }
}
